{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Todas las asignaturas" %}{% endblock title %}

{% block content %}
<div class="container-blanco">
  <h1>{% trans "Todas las asignaturas" %}</h1>
  <hr />
  <br />

  <div class="alert alert-info alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="{{ _('Cerrar') }}">
      <span aria-hidden="true">&times;</span>
    </button>

    <span class="fas fa-info-circle"></span>
    {% blocktrans %} En esta página puede ver todas las asignaturas, aunque no las tenga asignadas en el POD.<br />
    Para evitar errores se recomienda usar el
    <a href="http://academico.unizar.es/cds/cds" target="_blank" rel="noopener noreferrer">código Sigma</a> de la
    asignatura.<br /><br />

    Pulsando «Crear curso» se creará el curso en la plataforma, con la carga automática de los alumnos del grupo
    correspondiente preparada pero desactivada.<br />
    El curso se crea VISIBLE para los matriculados. Si lo desea puede
    <a
      href="https://ayudica.unizar.es/otrs/public.pl?Action=PublicFAQZoom;ItemID=532"
      target="_blank"
      rel="noopener noreferrer"
      >ocultarlo</a
    >
    en los «Ajustes del curso» en la plataforma.<br />
    Es posible que tenga que salir de la plataforma y volver a entrar para ver el nuevo curso.<br /><br />

    Si el curso ya está creado puede consultar la ficha para ver qué profesor lo tiene asociado. {% endblocktrans %}
  </div>
  <br />

  {% crispy filter.form filter.form.helper %}
  <br />
  {% render_table table %}
</div>
{% endblock content %}
