{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Todas las asignaturas" %}{% endblock title %}

{% block content %}
<div class="container-blanco">
  <h1>{% trans "Todas las asignaturas" %}</h1>
  <hr />
  <br />

  <div class="alert-info alert fade-in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    <span class="fas fa-info-circle"></span>
    {% blocktrans %} En esta página puede ver todas las asignaturas, aunque no las tenga asignadas en el POD.<br /><br />

    Pulsando «Crear curso» se creará el curso en la plataforma, con la carga automática de los alumnos del grupo
    correspondiente preparada pero desactivada.<br />
    El curso se crea ACTIVADO (visible para los matriculados). Si lo desea puede
    <a
      href="http://add.unizar.es/add/campusvirtual/faq/como-puedo-impedir-que-los-alumnos-de-mi-curso-accedan-a-el"
      target="_blank"
      >desactivarlo</a
    >
    en los «Ajustes del curso» en la plataforma.<br />
    Es posible que tenga que salir de la plataforma y volver a entrar para ver el nuevo curso.<br /><br />

    Si el curso ya está creado puede consultar la ficha para ver qué profesor lo tiene asociado. {% endblocktrans %}
  </div>
  <br />

  {% render_table table %}
</div>
{% endblock content %}
