[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pre-commit = "*"

[packages]
django = "==3.0.7"  # Remember to re-generate `requirements.txt`
django-annoying = "*"
django-crispy-forms = "==1.9.0"
django-debug-toolbar = "*"
django-filter = "*"
django-tables2 = "*"
django-templated-email = "*"
mysqlclient = "*"
python3-saml = "*"
python-dateutil = "*"
requests = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["saml"],version = "*"}
zeep = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
