[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
pylint = "*"

[packages]
django = "==4.0.3"  # Remember to re-generate `requirements.txt`: `pipenv lock -r`
django-annoying = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-tables2 = "*"
django-templated-email = "*"
mysqlclient = "*"
python3-saml = "*"
python-dateutil = "*"
python-magic = "*"
requests = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["saml"],version = "*"}
zeep = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = false
