[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.9"  # Remember to re-generate `requirements.txt`
mysqlclient = "*"
django-tables2 = "*"
django-filter = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["saml"],version = "*"}
python3-saml = "*"
cx-oracle = "*"
django-crispy-forms = "==1.8.1"
requests = "*"
django-annoying = "*"
django-templated-email = "*"
zeep = "*"
python-dateutil = "*"
django-debug-toolbar = "==2.1"

[requires]
python_version = "3.7"
