{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/iconos.css' %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="http://www.unizar.es"><span class="icon-logoUZ" style="font-size: 150%; color: white;"></span></a>
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
