{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock title %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/iconos.css' %}" />
{% endblock extrastyle %}

{% block branding %}
    <h1 id="site-name">
        <a href="https://www.unizar.es"><span class="icon-logoUZ" style="font-size: 150%; color: white;"></span></a>
        <a href="{{ site_url }}" style="font-weight: 500;">Geoda</a>
        <small><a href="{% url 'admin:index' %}" style="color: white;">{{ _('Administration') }}</a></small>
    </h1>
{% endblock branding %}

{% block nav-global %}{% endblock nav-global %}
