{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Mis asignaturas" %}{% endblock title %}

{% block content %}
    <div class="container-blanco">
        <h1>{% trans "Mis asignaturas" %} <small class="text-secondary">{{ curso }}</small></h1>
        <hr />
        <br />

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

            <span class="fas fa-info-circle"></span>
            {% blocktrans %}
                En esta página puede ver las asignaturas que tiene asignadas en el Plan de
                Ordenación Docente.<br /><br />

                Pulsando «Crear curso» se creará el curso en la plataforma, con la carga automática de los alumnos del grupo
                correspondiente preparada pero desactivada.<br />
                El curso se crea VISIBLE para los matriculados. Si lo desea puede
                <a
                    class="alert-link"
                    href="https://cau.unizar.es/osticket/kb/faq.php?id=130"
                    target="_blank" rel="noopener noreferrer"
                >ocultarlo</a
                    >
                    en los «Ajustes del curso» en la plataforma.<br />
                    Es posible que tenga que salir de la plataforma y volver a entrar para ver el nuevo curso.<br /><br />

                    Si el curso ya está creado puede consultar la ficha para ver qué profesor lo tiene asociado.
            {% endblocktrans %}
        </div>
        <br />

        {% if table.data|length > 0 %}
            {% render_table table %}
        {% else %}
            <p>{% trans "En estos momentos no tiene asignada ninguna asignatura en el POD." %}</p>
        {% endif %}

        <div><a href="{% url 'as_todas' %}" class="btn btn-warning btn-xs" title="Ver todas las asignaturas">
            <span class="far fa-eye" aria-hidden="true" style="display: inline;"></span>&nbsp;{% trans "Ver todas" %}
        </a></div>
    </div>

    <!-- Diálogo modal -->
    <div
        class="modal fade"
        id="crearModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="crearModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearModalLabel">{% trans '¿Seguro que desea crear este curso?' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Cerrar') }}"></button>
                </div>
                <div class="modal-body">
                    <div class="advertencia" id="advertencia"></div> <!-- Contenido rellenado por función JS -->
                </div>
                <div class="modal-footer">
                    <form action="#" id="crear-form" method="post">  <!-- Action rellenada por función JS -->
                        {% csrf_token %}
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                            <span class="fas fa-times"></span> {% trans 'Cancelar' %}
                        </button>
                        <button type="submit" class="btn btn-warning">
                            <span class="fas fa-plus"></span> {% trans 'Crear' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extrajs %}
    <script type="text/javascript">
        document.querySelectorAll(".prepararCrear").forEach(element => {
            element.addEventListener('click', ev => {
                advertencia = document.getElementById("advertencia");
                advertencia.innerHTML = "<p>¿Seguro que desea crear un curso para la asignatura «" + ev.target.getAttribute("data-nombre") + "»?</p>"

                document.getElementById("crear-form").action = ev.target.getAttribute("data-url");
            });
        });
    </script>
{% endblock extrajs %}
