{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Ayuda" %}{% endblock title %}
{% block description %}{% trans "Ayuda" %}{% endblock description %}

{% block content %}
    <div class="container-blanco">
        <h1>{% trans "Ayuda" %}</h1>
        <hr />
        <br />

        <h2>{% trans "Preguntas más frecuentes" %}</h2>

        <p>
            <a
                href="https://cau.unizar.es/osticket/kb/faq.php?cid=115"
                target="_blank"
                rel="noopener noreferrer"
            >{% trans "FAQ en el Centro de Atención a Usuari@s" %}</a>
            <span class="fas fa-link"></span>
        </p>

        <h2>{% trans "Soporte" %}</h2>

        <p>
            {% blocktrans %}Para solicitar soporte sobre cualquier tema relacionado con las plataformas del Anillo Digital
                Docente (gestión de usuarios y cursos, apoyo docente en el uso de las plataformas) debe acceder al
                <strong><a href="https://cau.unizar.es/" target="_blank" rel="noopener noreferrer">Centro de Atención a Usuari@s</a></strong> (CAU)
                <span class="fas fa-link"></span>
                con su NIP y contraseña administrativa.{% endblocktrans %}
        </p>

        <p>{% trans 'Seleccione el tema de ayuda «Anillo Digital Docente ADD, Moodle».' %}</p>
    </div>
{% endblock content %}
