{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Mis cursos" %}{% endblock title %}

{% block content %}
    <div class="container-blanco">
        <h1>
            {% trans "Mis cursos" %} <small class="text-secondary">{{ curso }}</small>
        </h1>
        <hr />

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

            <span class="fas fa-info-circle"></span>
            {% trans "En esta página puede ver sus cursos y solicitudes." %}
        </div>
        <br />

        {% if table.data|length > 0 %} {% render_table table %} {% else %}
            <p>{% trans "No ha solicitado ningún curso hasta el momento." %}</p>
        {% endif %}

        <div class="float-end">
            <a href="{% url 'mis_asignaturas' %}" class="btn btn-success active" role="button" aria-pressed="true">
                <span class="fas fa-plus" aria-hidden="true"></span>&nbsp; {% trans "Crear curso reglado" %}
            </a>
            <a href="{% url 'curso_solicitar' %}" class="btn btn-success active" role="button" aria-pressed="true">
                <span class="far fa-envelope-open" aria-hidden="true"></span>&nbsp; {% trans "Solicitar curso no reglado" %}
            </a>
        </div>
    </div>
{% endblock content %}
