{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Solicitar curso no reglado" %}{% endblock title %}

{% block content %}

<div class='container-blanco'>
    <h1>{% trans "Solicitar curso no reglado" %}</h1>
    <hr><br>

    <div class="alert-info alert fade-in">
        <span class="fas fa-info-circle"></span>
            <p>{% blocktrans %}Por favor, asegúrese de que el curso solicitado no tiene asociado ningún código SIGMA.<br />
            La solicitud de curso debe ser resuelta por la dirección del campus virtual.
            Recibirá un correo electrónico con la resolución.{% endblocktrans %}</p>
            <p><strong>{% trans "IMPORTANTE:" %}</strong>
            {% blocktrans %}Antes de hacer la solicitud, lea las
            <a href="https://ayudica.unizar.es/otrs/public.pl?Action=PublicFAQZoom;ItemID=82" target="_blank">FAQ sobre los cursos no reglados{% endblocktrans %}</a>.
            </p>
    </div>
    <br>

    <form action="{% url 'curso-solicitar' %}" id="solicitar-form" method="post">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="btn-group" role="group" aria-label="Botones">
            <a href="{% url 'mis-cursos' %}" class="btn btn-info">
                <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
            </a>
            <button class="btn btn-warning" type="submit" title="{% trans 'Solicitar curso no reglado' %}">
                <span class="fas fa-check"></span> {% trans 'Solicitar curso' %}
            </button>
        </div>
    </form>
</div>

{% endblock content %}
