{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Año académico actual" %}{% endblock title %}

{% block content %}

    <div class="container-blanco">
        <h1>{% trans "Año académico actual" %}</h1>
        <hr><br>

        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

            <span class="fas fa-info-circle"></span>
            {% trans "En esta página puede establecer el curso actual." %}<br />
            {% trans "Debe indicar el año en que comienza el curso. " %}
            {% trans "Por ejemplo, para el curso 2019-2020, introduzca «2019»." %}
        </div><br>

        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}

            <div class="btn-group" role="group" aria-label="Botones">
                <button class="btn btn-warning" type="submit">
                    <span class="fas fa-check"></span> {% trans 'Actualizar' %}
                </button>
            </div>
        </form>
    </div>

{% endblock content %}
