{% extends 'base.html' %}
{% load custom_tags i18n %}
{% block title %}{% trans "Eliminar curso" %}{% endblock title %}
{% block description %}{% trans "Eliminar curso" %}{% endblock description %}

{% block content %}
<div class="container-blanco">
  <h1>{% trans "Eliminar curso" %}</h1>
  <hr />
  <br />

  <form action="{% url 'curso-delete' curso.id %}" method="post">
    {% csrf_token %}

    <div class="alert-warning alert fade-in">
      {% alert_icon 'warning' %}
      <p><b>{% blocktrans with nombre_curso=curso.nombre %}
        ¿Seguro que desea eliminar el curso «{{ nombre_curso }}»?
        {% endblocktrans %}</b></p>

      <p>
        {% trans "El curso, y todos sus materiales, se eliminará también de Moodle (si existe)." %}<br />
        {% trans "Esta acción no se puede deshacer." %}
      </p>
    </div>

    <div class="btn-group" role="group" aria-label="Botones">
      <a href="{% url 'curso-detail' object.id %}" class="btn btn-info">
        <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
      </a>
      <button class="btn btn-danger" type="submit">
        <span class="fas fa-trash-alt"></span> {% trans 'Eliminar' %}
      </button>
    </div>
  </form>

</div>
{% endblock content %}
