{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Detalles de la solicitud de vinculación" %}{% endblock title %}

{% block content %}
  <div class="container-blanco">
    <h1 id="detalles">{% trans "Detalles del usuario externo" %}</h1>
    <hr />
    <br />

    <table class="table table-striped table-hover" aria-describedby="detalles">
      <tr>
        <th scope="row">{% trans "Id" %}</th>
        <td>{{ forano.id }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Solicitante" %}</th>
        <td>{{ forano.solicitante.full_name }} &lt;{{ forano.solicitante.email }}&gt;</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Fecha de solicitud" %}</th>
        <td>{{ forano.fecha_solicitud }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "NIP a vincular" %}</th>
        <td>{{ forano.nip }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Nombre del usuario externo" %}</th>
        <td>{{ forano.nombre }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Correo electrónico del usuario externo" %}</th>
        <td>{{ forano.email | default_if_none:"—" }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Motivación de la solicitud" %}</th>
        <td>{{ forano.motivo_solicitud | linebreaks }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Estado" %}</th>
        <td>{{ forano.get_estado_display }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Autorizador" %}</th>
        <td>{{ forano.autorizador.full_name | default_if_none:"—" }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Fecha de autorización" %}</th>
        <td>{{ forano.fecha_autorizacion | default_if_none:"—" }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans "Comentarios" %}</th>
        <td>{{ forano.comentarios | default_if_none:"—" | linebreaks }}</td>
      </tr>
    </table>

        {% comment %}
  {% if forano.estado == forano.Estado.SOLICITADO.value and perms.geo.foranos_pendientes %}
    <br />
    <h2>{% trans "Resolver la solicitud" %}</h2>
    <hr />
    <form action="{% url 'forano_resolver' %}" id="resolver-form" method="post">
      {% csrf_token %}
      <input type='hidden' id='id' name='id' value='{{ forano.id }}'>
      <div><strong>{% trans "Decisión" %}</strong></div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="decision" value="denegar" required>
          {% trans "Denegar" %}
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="decision" value="autorizar" required>
          {% trans "Autorizar" %}
        </label>
      </div>

      <div id="div_id_comentarios" class="form-group">
        <label for="id_comentarios" class="col-form-label">
          <strong>{% trans "Comentarios" %}</strong>
        </label>
        <div class="">
          <textarea name="comentarios" cols="40" rows="10" class="textarea form-control" id="id_comentarios"></textarea>
          <small id="hint_id_comentarios" class="form-text text-muted">
            {% trans "Si lo desea, añada una explicación para el solicitante sobre la razón de aprobar o denegar la vinculación solicitada." %}
          </small>
        </div>
      </div>

      <br style="clear: both;" />
      <div class="btn-group" role="group" aria-label="Botones">
        <a href="{% url 'forano_todos' %}" class="btn btn-info">
          <span class="fas fa-step-backward"></span> {% trans "Retroceder" %}
        </a>
        <button type="submit" class="btn btn-warning">
          <span class="fas fa-gavel"></span> {% trans "Resolver" %}
        </button>
      </div>
    </form>
  {% endif %}
  {% endcomment %}

  </div>
{% endblock content %}
